@media(min-width: 1550px){
	.login_page .left_side .contplace{
		left: unset;
		right: 150px;
	}
	.login_page .rightside .contplace{
		right: unset;
		left: 150px;
	}
}
.top_nav .hambmenu_phone{
	display: none;
}
@media(max-width: 1350px){
	.dashboard .boxes_row .box h1{
		font-size: 13px;
	}
	.dashboard .boxes_row .box h3{
		font-size: 30px;
		line-height: 36px;
	}
}
@media(max-width: 1400px){
	.dashboard .dashboard_bin .rightside .boxes_row2 .box{
	    width: calc(50% - 5px);
	    display: inline-table;
	    margin-right: 5px;
	    margin-bottom: 10px;
	}
	.dashboard .dashboard_bin .rightside .boxes_row2{
		display: block;
	}
	.dashboard .dashboard_bin .rightside .boxes_row2 a:nth-child(2n) .box{
		margin-right: 0;
	}
	.dashboard .dashboard_bin{
		margin-top: 50px;
	}
}
@media(max-width: 1270px){
	.dashboard .top_row .data_range{
		display: block;
		margin-bottom: 15px;
	}
	.dashboard .top_row .search_area{
		margin-left: 0;
	}
	.dashboard .top_row .data_range input,.dashboard .top_row .search_area input,.dashboard .top_row .search_area{
		max-width: 329px;
		width: 100%;
		display: block;
	}
	.dashboard .top_row{
		padding-top: 50px;
	}
}
@media(max-width: 1200px){
	
	.dashboard .map_row .councildetails_box_precinct .select_dropdown2{
		top: -27px;
		left: 0;
	}
	.dashboard .map_row .councildetails_box_precinct .custom_select .options{
		max-height: 203px;
	}
	.dashboard .map_row .councildetails_box_precinct{
		margin-top: 30px;
		.title_outside {
		    top: -55px !important;
		}
	}
	.dashboard .boxes_row{
		display: block;
		justify-content: unset;
	}
	.dashboard .boxes_row .box{
		width: calc(50% - 5px);
	    display: inline-block;
	    margin-right: 5px;
	    margin-bottom: 10px;
	}
	.dashboard .boxes_row a:nth-child(2n) .box{
		margin-right: 0;
	}
	.dashboard .boxes_row a:last-child .box{
		width: 100%;
		margin: 0;
	}
	.dashboard .map_row .councildetails_box .title_outside{
		top: -25px;
	}
	.dashboard .top_row{
		text-align: left;
		padding-bottom: 20px;
	}
	.dashboard .top_row .data_range{
		display: block;
		margin-bottom: 15px;
	}
	.dashboard .top_row .search_area{
		margin-left: 0;
	}
	.dashboard .top_row .data_range input,.dashboard .top_row .search_area input,.dashboard .top_row .search_area{
		max-width: 329px;
		width: 100%;
		display: block;
	}
	.top_nav .rightmenu_without_overview{
		padding-right: 30px;
	}
	.dashboard{
		padding-right: 30px;
	}
	.user_managment,.user_managment_profile{
		padding-right: 30px;
	}
}

@media(max-width: 991px){
	.top_nav .rightmenu_without_overview{
		padding-right: 15px;
	}


	.footer img{
		right: 10px;
	}
	.df_tablepage {
	    padding: 85px 15px 50px 15px;
	}
	.dashboard, .user_managment,.user_managment_profile{
		padding: 85px 15px 50px 15px;
	}
	.df_tablepage .placefortable tbody td:nth-child(4) .cont{
		margin-left: 5px;
	}
	.df_tablepage .placefortable tbody td:nth-child(4){
		min-width: 55px;
	}
	.left_menu .logoplace{
		padding-left: 14px;
	}
	.left_menu .main_menu .item a{
		padding-top: 13px;
		padding-bottom: 12px;
	}
	#mapid .leaflet-tooltip-pane{
		display: none;
	}
	.main_content_def{
		width: 100% !important;
		margin: 0;
	}
	.top_nav .hambmenu_phone{
		display: block;
	}
	.left_menu_active{
		width: 320px;
	}
	.left_menu_opened {
	    width: 100%;
	    left: 0;
	}
	.left_menu{
		width: 320px;
		left: -320px;
	}
	.left_menu_active{
		left: 0;
	}
	.left_menu .logoplace .hambmenu_desktop{
		display: none;
	}
	.left_menu .logoplace .logo, .left_menu .logoplace .xicon img{
		display: block;
		visibility: visible;
		opacity: 1;
		max-width: 170px;
	}
	.left_menu .logoplace .xicon{
		visibility: visible;
		opacity: 1;
		max-width: 170px;
		display: block;
	}
	.left_menu .main_menu .item a span{
		padding-left: 15px;
	}
	.left_menu .down_menu{
		margin-top: 0;
		bottom: 10px;
		position: absolute;
	}
	.left_menu .down_menu .copyright{
	    position: absolute;
	    bottom: 2px;
	    left: 130px;
	}
	.top_nav_overinfo_opened {
	    width: 100%;
	    right: 0;
	}
	.overvie_information_sec_active{
		width: 350px;
	}
	.top_nav_overinfo_opened .overviewinfo{
		right: 350px;
	}
	.top_nav .overviewinfo:hover{
		opacity: 1;
	}
	.overvie_information_sec .cont{
		width: 100%;
		min-width: 250px;
	}
	.overvie_information_sec .cont .insidecont h2 a{
		top: 2px;
		font-size: 13px;
	}
	.top_nav .rightmenu .dropdownlanguage{
		display: none;
	}
	.top_nav .rightmenu .dropdownprofile .dropdown-toggle .placeforavatar{
		display: none;
	}
	.top_nav .rightmenu .dropdownprofile .dropdown-toggle{
		padding-left: 5px;
	}
	.top_nav .rightmenu li{
		margin-left: 5px;
	}
	.top_nav .rightmenu .dropdown .dropdown-menu{
		transform: unset !important;
		top: 50px !important;
	}




	.login_page .rightside .contplace form input{
		font-size: 14px;
		padding-top: 16px;
	}
	.login_page .left_side{
		width: 100%;
		height: 148px;
	}
	.login_page .rightside{
		width: 100%;
		position: relative;
		height: auto;
	}
	.login_page .left_side .contplace img{
		width: 205px;
	}
	.login_page .left_side .contplace h2{
		padding: 0;
		min-height: auto;
		padding-bottom: 20px;
	}
	.login_page .rightside .contplace{
		max-width: 300px;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
		padding-top: 25px;
		position: relative;
		    top: unset;
		    transform: unset;
		min-height: calc(100vh - 148px);
		height: auto;
	}
	.login_page .rightside .contplace form .forgot_pass{
		text-align: left;
		margin-top: 30px;
	}
}
@media(max-width: 772px){
	.user_managment_profile .mainrow .left_side .cont ul {
		display: flex;
		 justify-content: space-between;

		li{
			border: 0;
			a{
				min-height: 40px;
				padding-right: 0;
			}
			.onmobile{
				display: none;
			}
		}
	}
	.user_managment_profile .positionofpage{
		display: none;
	}
	.user_managment_profile .mainrow .left_side .cont{
		max-width: 100%;
	}
	.user_managment_profile .mainrow .left_side{
		width: 100%;
	}
	.user_managment_profile .mainrow .right_side{
		width: 100%;
	}
	.user_managment_profile .mainrow{
		display: block;
		margin-top: 20px;
	}
	.user_managment_profile .mainrow .left_side{
		margin-bottom: 30px;
	}
	.df_tablepage .placefortable tbody .bind_db span{
		display: none;
	}
	.df_tablepage .placefortable tbody tr td:last-child:after{
		display: none;
	}
	.daterangepicker.ltr{
		width: 280px;
	}
	.dashboard .map_row .councildetails_box{
		width: 100%;
		max-width: 100%;
	}
	.dashboard .map_row #mapid {
	    height: 266px;
	    width: 100%;
	    border-radius: 8px;
	    position: relative;
	    right: unset;
	    top: unset;
	    margin-top: 20px;
	}
	.dashboard .dashboard_bin{
		display: block;
	}
	.dashboard .dashboard_bin .rightside{
		width: 100%;
	}
	.dashboard .dashboard_bin .leftside{
		width: 100%;
	}
	.dashboard .dashboard_bin .leftside .bin_icon_place{
		max-width: 300px;
		border: 0;
	}
	.dashboard .dashboard_bin .leftside .descs{
		border-top: 1px solid #9E9E9E;
	}
}
@media(max-width: 670px){
	.updatebindetails .cont_iside .placeforinput p{
		position: relative;
		    display: block;
		    left: unset;
		    right: unset;
		    text-align: left;
		    margin-bottom: 5px;
		    transform: unset;
	}
	.updatebindetails .cont_iside{
		width: 100%;
		margin: 0;
	}
	.updatebindetails .cont_iside .placeforinput .leftside{
		width: 100%;
	}
	.updatebindetails .cont_iside .placeforinput .setbinlocation{
		position: relative;
	}
	.updatebindetails .modal-footer .deletebin{
		left: 15px;
	}
}
@media(max-width: 650px){
	.df_tablepage .tablearea .head_elements .right_side{
		position: relative;
		margin-bottom: 20px;
	}
	.top_nav .rightmenu .dropdown .dropdown-menu-notification{
		right: -70px;
	}
}
@media(max-width: 578px){
	.updatebindetails .cont_iside .placeforinput .leftside .col-sm-6:last-child {
	    padding-left: 15px;
	    input{
	    	margin-top: 15px;
	    }
	}
	.updatebindetails .cont_iside .placeforinput .leftside .col-sm-6:first-child {
	    padding-right: 15px;
	}
	.df_tablepage h1 a, .user_managment .main_title a{
		position: relative;
	    top: unset;
	    transform: unset;
	    margin-top: 10px;
	}
	.df_tablepage .last_line_row p{
		display: none;
	}
	.addnewelement form .uploadfilearea .filehere .textofit h3,.addnewelement form .uploadfilearea .filehere .textofit_done h3{
		margin-top: 10px;
	}
	.addnewelement form .uploadfilearea p{
		margin-right: 10px;
	}
	.addnewelement form .uploadfilearea .filehere{
		min-height: 120px;
	}
	.addnewelement form .uploadfilearea h2{
		font-size: 13px;
		margin-top: 5px;
	}
	.addnewelement form .uploadfilearea .filehere #progress{
		max-width: 200px;
	}
}

@media(max-width: 420px){
	.top_nav_overinfo_opened .overviewinfo{
		right: calc(100% - 70px);
	}
	.overvie_information_sec_active{
		width: calc(100% - 70px);
	}
	.top_nav .rightmenu .dropdown .dropdown-menu-notification{
		right: -140px !important;
	}
	.top_nav .rightmenu_without_overview{
		.dropdown .dropdown-menu-notification{
			right: -77px !important;
		}
	}
	.dashboard .dashboard_bin .rightside .boxes_row2 .box{
		width: 100%;
		margin-right: 0;
	}
}

@media(max-width: 400px){
	.dashboard .boxes_row .box{
		width: 100%;
		margin-right: 0;
	}
	.user_managment_profile .mainrow .right_side .settings_cont .placefortable .table thead th:first-child{
		font-size: 16px;
	}
}
@media(max-width: 370px){
	.updatebindetails .modal-footer{
		display: block;
	}
	.updatebindetails .modal-footer button:nth-child(2){
		display: block;
		width: 100%;
		margin: 0;
	}
	.updatebindetails .modal-footer .cancle{
		padding-right: 0;
	}
}



@media(max-height: 600px){
	
	.createnewuser .modal-body{
		max-height: unset;
	}
	.addcouncil .modal-body{
		max-height: unset;
	}
	.left_menu{
		

		.menu_cont{
			height: calc(100vh - 70px);
			position: relative;

			overflow: auto;
			overflow-x: hidden;

		}
	}
	.left_menu .down_menu{
		bottom: unset;
		position: relative;
		margin-top: 30px;
		padding-bottom: 20px;
	}
	.left_menu .down_menu .copyright{
		bottom: 22px;
	}
}
@media(max-height: 500px){
	.top_nav .rightmenu .dropdown .dropdown-menu-notification{
		max-height: 220px;
		overflow: auto;
	}
}